<%- if controller_name != 'sessions' %>
  <div class="mt-4 text-center">
    <%= link_to "Log in", new_session_path(resource_name), class:"text-muted" %>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="mt-4 text-center">
    <%= link_to "Sign up", new_registration_path(resource_name), class:"text-muted" %>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="mt-4 text-center">
    <%= link_to new_password_path(resource_name), class:"text-muted" do %>
      <i class="mdi mdi-lock mr-1"></i> Forgot your password?
    <% end %>
  </div>
<% end %>
