<div class="row">
    <div class="col-lg-12">
        <div class="text-center mb-5">
            <h1 class="display-2 fw-medium">404</h1>
            <h4 class="text-uppercase">Page Not Found</h4>
            <div class="mt-5 text-center">
                 <div class="mb-5">Sorry, but the page you were looking for does not exist.</div>
                <a class="btn btn-primary waves-effect waves-light" href="<%= root_url %>">Back to Dashboard</a>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8 col-xl-6">
        <div>
            <img src="/images/error-img.png" alt="" class="img-fluid">
        </div>
    </div>
</div>
