<%= stylesheet_link_tag sources_from_manifest_entries(["embed"], type: :stylesheet).first, media: 'all', 'data-turbo-track': 'reload' %>
<style media="screen">
  #u-wrapper .micromodal-slide {
    display: block !important;
  }
</style>
<div id="u-wrapper" data-no-js="true" class="preview show public">


</div>
