<div id="u-wrapper" data-no-js="true" class="public col-6" style="align-items: center;">
  <p class="lead" style="text-align: center;font-size:32px;"><%= @survey&.thank_you_note || 'Thank you for your feedback!' %></p>
  <div class="powered">Powered by <a href="https://userveys.com">Userveys</a></div>
</div>
