<p class="my-4">Sweet! You have a new response to your survey</p>

<p class="my-4">Check it out through the link below.</p>

<div class="align-center w-full" style='width: 100%'>  
  <%= link_to "Check out the Response", response_url(@response), class: 'btn btn-secondary btn-lg w-full', style: 'width: 100%' %>
</div>
